<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @books.each do |book| %>
      <p><%= book.title %></p>
      <p><%= book.content %></p>
      <span class="innner">
        <%= image_tag book.image, class: 'book-image' if book.image.attached? %>
      </span>
    </div>
  <% end %>
</div>

