<div class="contents row">
  <p><%= @nickname %>さん <%= @age.to_i %>歳</p>
  <% @books.each do |book| %>
      <span class="innner">
        <%= image_tag book.image, class: 'book-image' if book.image.attached? %>
      </span>
      <p><%= book.content %></p>
    </div>
  <% end %>
</div>

