
<div class="rules">
<div class="rulesheader">
<h1>Webアルバムサービス「booklog31」ご利用規約</h1>
</div>
<br>
<p>この利用規約（この利用規約に付随する規程も含みます）は、写真データ提供サービス「booklog31」（以下「本サービス」といいます）
<br>をご利用いただく際の条件を規定するものです。<br>
<br>お客様が本サービスをご利用される場合、この利用規約に同意したものとみなされます。<br>

1.本サービスについて<br>
  本サービスは写真コンテンツを閲覧・配信するサービスです。<br>
<br>
2.目的外利用はいたしません。<br>
<br>
3.禁止事項<br>
本サービスの利用に関して、以下の行為を禁止します。<br>
  ・本サービスの運営を妨げる行為<br>
  ・本サービスで取得したコンテンツの全部または一部を著作権法の定める範囲を逸脱して無断で複写、転載、電子化、改変または第三者に転売などを行う行為。<br>
  ・当社は、利用者が上記事項のいずれかの行為を行った場合には、管理者の判断により、利用者に対し警告、本サービスの利用停止その他の措置をとります。<br>
<br>
4.この利用規約の変更<br>
  当社は、法令その他の規範の変更に伴い、利用者への予告なくこの利用規約を変更することがあります。<br>
  この利用規約の変更は、本ページに掲載された時点から効力を生じます。<br>
  この利用規約の変更が効力を生じた後に、利用者が本サービスを利用されたときは、利用者は変更後の利用規約を承諾したものとみなします。<br>
<br>
（付則）<br>
1.この利用規約は、2023年4月23日より実施します。<br></p>

<%= link_to 'このページを閉じる', new_user_registration_path %>
</div>